# Notebook to work with demand forecasting query
-

###

# Imports

#### Standard library imports

In [1]:
import sys
sys.path.append("../")

import os

#### Third party imports

In [2]:
import mysql.connector

#### Local application imports

In [3]:
%load_ext autoreload
%autoreload 2

from pkg_dir.config import *
from pkg_dir.src.utils import *
from pkg_dir.src.functions import *
from pkg_dir.src.parameters import *

###

# Getting the data

##### Converting the mysql tables into dataframes

conn = database_conection('mysql_dp')

In [6]:
## Function parameters
db_crds = 'mysql_dp'
sql_files_path = '../pkg_dir/sql/queries/'
sql_script = 'demand_forecast_data.sql'
sql_params = sql_params_workhrs

## Function execution
sql_to_df(db_crds, sql_files_path, sql_script, sql_params)

/Users/rp_mbp/Documents/educacion/maestria/berkeley_mba_meng/academics/2023_spring/analysis_and_design_databases/UCB_analysis_design_databases_DP/.venv/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

DatabaseError: Execution failed on sql '-- SCRIPT TO OBTAIN ALL DATA REQUIRED FOR THE DEMAND FORECASTING MODEL


SELECT
       *
--        usuarioid,
--        usuarionomfull,
--        e.especialidadnom,
--        usuarioest

FROM usuario


-- LEFT JOIN especialidad e on usuario.usuarioespecialidadid = e.especialidadid
--
--
-- WHERE puestoid = 'MEDICO'
-- -- WHERE usuarionomfull ILIKE '%silv%'
-- --   AND puestoid = 'MEDICO'
--
--
-- ORDER BY
--          usuarioest,
--          usuarionomfull


LIMIT 10

;
': 1146 (42S02): Table 'beans_boutique.usuario' doesn't exist

###

# Header

###

# *Notes*

---

---